body {
  min-width: 320px;
}

.page-title {
  padding: rem-calc(15) 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: rem-calc(24);
  text-transform: uppercase;
  color: $gold;
  font-weight: 300;
  text-align: center;
  margin-bottom: rem-calc(70);
}

#header {
  margin-top: rem-calc(25);
  margin-bottom: rem-calc(30);
}

section[role="main"] {
  min-height: rem-calc(600);
}

// ==================================
// Nav
// ==================================

#nav {
  margin-top: rem-calc(15);

}

.nav {
  margin: 0 auto;
  display: table;

  @media #{$large-up} {
    float: right;
    margin-right: 15px;
  }

  li {

    &:first-child {
      margin-left: 0;
    }

    * {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 1px;
      @include single-transition;
    }

    a:hover {
      border-bottom: 2px solid;
      padding-bottom: rem-calc(5);
    }
  }
}

// ==================================
// Blog Layout
// ==================================

.post-list {

  li {
    margin: rem-calc(50 0);
  }

  .post-date {
    color: $navy;
    font-weight: 300;
  }

  .post-title {
    margin: rem-calc(5 0 10);
  }

  .post-link {
    @include single-transition;

    &:hover {
      color: darken($gold, 10%);
    }
  }

  .excerpt {
    font-size: rem-calc(20);
    line-height: 1.8
  }
}

.rss-subscribe {
  font-size: rem-calc(12);

  a {
    color: $gold;
  }
}

// ==================================
// Post Layout
// ==================================

.post {

  &.row {
    margin-top: rem-calc(50);
    margin-bottom: rem-calc(100);
  }

  .post-meta {
    text-align: center;
    margin-bottom: 0;
    color: $coral;
  }

  .post-title {
    color: $gold;
    border-bottom: 2px solid;
    text-align: center;
    padding-bottom: rem-calc(5);
    margin-bottom: 3rem;
  }
}



// ==================================
// Page Layout
// ==================================

.page {

  header {
    margin-bottom: rem-calc(70);
  }
}


// ==================================
// Footer
// ==================================

.site-footer {

  p {
    font-size: rem-calc(12);

    span {
      color: $gold;
    }
  }
}



// ==================================
// Contact
// ==================================

.stalk-me {

  li {
    text-align: center;

    a {
      font-size: 70px;
    }
  }
}
