h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
	@media #{$medium-up} {
	}
	@media #{$large-up} {
	}
}

.stalk-me {

  a {
    font-size: 4em;
    text-align: center;
    display: block;

    &.twitter {
      color: #00aced;
    }

    &.github {
      color: #171515;
    }

    &.google-plus {
      color: #dd4b39;
    }

    &.instagram {
      color: #517fa4;
    }

    &.linkedin {
      color: #007bb6;
    }

    &.facebook {
      color: #3b5998;
    }
  }
}

