<!--[if lt IE 8]>
    <div data-alert class="alert-box alert radius" class="browsehappy">Please <a href="http://browsehappy.com/">upgrade your browser</a>. <a href="#" class="close">&times;</a></div>
<![endif]-->

<header id="header" class="row">
  <div class="small-4 small-centered medium-2 large-1 columns large-uncentered">
    <h2>
      <a href="{{ site.url }}" title="{{ site.description }}"class="logo">
        <img src="{{ site.url }}/img/logo.png" alt="{{ site.name }}">
      </a>
    </h2>
  </div>

  <div class="small-12 medium-12 large-4 columns">
      <nav id="nav">
        {% include nav.html %}
      </nav>
  </div>
</header>
